#Boton{
    background-color: blue;
    color: white;

}
div {
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    height: 90vh;               
    text-align: center;          
}


    


